{% extends "layout.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
  title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {%
  block content %}
  <div class="container col-md-8 col-sm-12" style="max-width: 40rem">
    <div class="card">
    <div class="card-body">


        {% if folders|length == 0 %}
        <div class="my-0 mr-md-auto font-weight-normal">You dont have folders  </div> 
      
        {% else %}
        {% for folder in folders %}
        <div class="breadcrumb">
         <a  href="{{url_for('folder_show',folder_id = folder.id)}}">{{ folder.name }}</a>
        </div>
        
         <div class="d-flex justify-content-end">
           
          <a class="badge badge-secondary" href="{{url_for('folder_edit',folder_id = folder.id)}}">edit</a>
            <form
            action="{{url_for('folder_delete',folder_id = folder.id)}}"
            method="POST"
            enctype="multipart/form-data"
          >
           
            <input
              type="hidden"
              id="folder_id"
              name="folder_id"
              value="{{folder.id}}"
            />
            <button
              type="submite"
              class="badge badge-danger"
              onclick="return ConfirmDelete()"
            >
              delete
            </button>
           </div>  
             
         <br>
        
        {% endfor %}
  
        {% endif %}

        <div class="my-0 mr-md-auto font-weight-normal">
            <a class="btn btn-link" href="{{ url_for('folder_new') }}">New folder!</a>
         </div>

         <script type="text/javascript">
          function ConfirmDelete() {
            return confirm('Are you sure?');
          }
        </script>
    
      
       </div> 
      </div> 
    </div>   
        {% endblock %}