{% extends "layout.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<div class="container col-md-8 col-sm-12" style="max-width: 40rem">
  <div class="card">
    <div class="card-body">
      <p class="text-secondary">Folder name:</p>
      {{folder.name}}</div>
      {% if folder.tasks |length == 0 %}
      <div class="my-0 mr-md-auto font-weight-normal">You dont have tasks</div>

      {% else %}
      <div>  <p class="text-secondary">Tasks</p>
      </div>
      {% for task in folder.tasks %}
      
      <div class="breadcrumb">
        <a href="{{url_for('task_show',task_id = task.id)}}">{{ task.name }}</a>
      </div>
      <div class="breadcrumb">
        State: {% if task.state %} <p class="text-success"> completed</p>
         {% else %} 
        <p class="text-warning"> in progess</p> {% endif%}
      </div>

      <br />
      {% endfor %} {% endif %}

      <div class="my-0 mr-md-auto font-weight-normal">
        <a
          class="btn btn-link"
          href="{{ url_for('task_new',folder_id = folder.id) }}"
          >New task!</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
