{% extends "layout.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
  title %}{% endblock %} {% block head %} {{ super() }} {% endblock %} {%
  block content %}
  <div class="container col-md-8 col-sm-12" style="max-width: 40rem">
    <div class="card">
    <div class="card-body">


        {% if folder %}
          {{folder.name}}
        {% for task in folder.tasks %}
       
        <div >
          <li><a href="">{{ task.name }}</a>
           <div >
             <a href="">edit</a>
             <a href=""> delete</a>
           </div>  
             
          </li>
        </div>
       


        {% endfor %}
  
        {% endif %}

      
       </div> 
      </div> 
    </div>   
        {% endblock %}