{% extends "layout.html" %} {% block title %}TaskToDo!{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}


<div class="jumbotron">
    <div class="mt-2 container">
      <div class="row">
        <div class="col-12">
          {% if is_authenticated(session) %}
          <div class="my-0 mr-md-auto font-weight-normal">
            <a class="btn btn-link" href="{{ url_for('folder_index') }}">Folders</a>

           </div>
         
          
          {% endif %}
          <h1 class="display-5 mb-3 mt-5 text-break">{{ "Organize it all
            with TaskToDo" }}</h1>

            <h3 class="display-5 mb-3 mt-5 text-break">

            TaskToDo is a small, but powerful tool
            that will help you with your projects
            </h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
