{% extends "layout.html" %} {% block title %}TaskToDo!{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}


<div class="jumbotron">
    <div class="mt-2 container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-5 mb-3 mt-5 text-break">{{ "Organize it all
            with TaskToDo" }}</h1>

            <h3 class="display-5 mb-3 mt-5 text-break">

            TaskToDo is a small, but powerful tool
            that will help you with your projects
            </h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
